// variables
$v-alpha: 0.8;
$v-border-radius-md: 4px;
$v-spacing-sm: 4px;
$v-spacing-md: 8px;

// colors
$c-contrast: #fff;
$c-foreground: #fff;
$c-bg-alpha: rgba(0, 0, 0, $v-alpha);
$c-primary: #326da8;
$c-secondary: #e7e7e7;
$c-secondary-foreground: #000;
$c-danger: #e53935;
$c-success: #43a047;

// typography
$f-md: 12px;
$f-w-md: 400;
$f-w-lg: 600;

* {
  font-family: 'Inter';
  font-size: $f-md;
}

@mixin blink-animation($colorA, $colorB) {
  @keyframes anim {
    0% {
      background: $colorA;
    }
    50% {
      background: $colorB;
    }
    100% {
      background: $colorA;
    }
  }

  animation-name: anim;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
